/* static/ css  / home_style/second_template/components.css */

/* Cards de projetos */
.card-grid {
  background-color: #e8ebf0;
  width: 80%;
  height: 350px;
  display: grid;
  margin-top: 2rem;
  margin: 0 auto;
}

.card-wrapper {
  width: 1040px;
  margin: 0 auto;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  z-index: 100000;
}

.card-projects {
  height: 280px;
  width: 330px;
  background-color: #f0f5ff;
  border-radius: 8px;
  color: #222222;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  padding: 1rem;
  text-align: left;
}

.card-projects:hover {
  transform: translateY(-5px);
}

.card-projects h1 {
  margin: 0.5rem 0;
}

.card-projects h2 {
  color: #666;
}

.card-projects h3 {
  color: #041b33;
  margin-top: 0.5rem;
}

.card-projects img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

/* Corais */
#coral-reefs-img-left {
  position: fixed;
  bottom: -20px;
  left: 40%;
  transform: translateX(-50%);
  width: auto;
  height: 280px;
  transform: rotate(30deg);
  bottom: -80px;
  left: -30px;
  z-index: 960;
}

#coral-reefs-img-right {
  position: fixed;
  bottom: -80px;
  right: -4%;
  width: auto;
  height: 280px;
  transform: rotate(310deg);
  z-index: 960;
}

#coral-reefs-img-right-two {
  position: fixed;
  bottom: -80px;
  right: 5%;
  width: auto;
  height: 280px;
  transform: rotate(350deg);
  z-index: 960;
}

#coral-reefs-img-left-two {
  position: fixed;
  bottom: -20px;
  left: 10%;
  transform: translateX(-50%);
  width: auto;
  height: 210px;
  transform: rotate(340deg);
  bottom: -80px;
  z-index: 960;
}

/* Areia */
#sand-img {
  position: fixed;
  pointer-events: none;
  bottom: -20px;
  left: 10%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  bottom: -250px;
  z-index: 900;
}

#sand-img-three {
  position: fixed;
  pointer-events: none;
  bottom: -20px;
  left: 10%;
  width: 100%;
  height: auto;
  bottom: -250px;
  z-index: 900;
}

#sand-img-two {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: auto;
  bottom: -230px;
  z-index: 900;
}