<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}TTA - Travel To All{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/receitas_style/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/viagens_style/main.css') }}">
</head>
<body>
  <main>
    {% block content %}
      {% include partial %}
    {% endblock %}
  </main>
</body>
</html>
