<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - TTA</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.ico') }}">
</head>
<body>
    <h1>Bem-vindo ao TTA (Travel To All)</h1>

    <nav>
      <ul>
        <li><a href="{{ url_for('receitas.feed_receitas') }}">Recomendações de Receitas</a></li>
        <li><a href="{{ url_for('viagens.feed_viagens') }}">Recomendações de Viagens</a></li>
        <li><a href="{{ url_for('noticias.feed_noticias') }}">Página de Noticias</a></li>
      </ul>
    </nav>

</body>
</html>