/* static/ css/ home_style/fisrts_template/style.css */

:root {
  --sky: #c7efff;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🌅 Container principal */
.sky-sea {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--sky);
  overflow: hidden;
  perspective: 1000px; /* Dá leve sensação de profundidade */
}